# IDE files
**/.idea
**/CMakeLists.txt.user

# build folders
cmake-build-debug/*
cmake-build-**
**/build
bin/*
lib/*
**/lib
build*

# results
results/*
evaluation/results/
evaluation/matlab-evaluation/**/*.mat
/results.txt*
/pointcloud.ply

# python
**.pyc
